
<ion-content [fullscreen]="true">
  <h2>LOGIIIIN</h2>
  <form (submit)="onSubmit()">
  <app-input label ="Email" type = "email" [clear] = "false" [controlador]="emailControl" placeholder="name@gmail.com"></app-input>
  <app-input label ="Password" type ="password"  [controlador] = "password" placeholder="*********"></app-input>
  <app-button esperoTexto =" Submit" shape = "round" type="submit" ></app-button>
  <app-button esperoTexto =" Create User" shape = "round" (click) = "click()"></app-button>
</form>
</ion-content>

