<ion-content [fullscreen]="true">
   <h2>Register</h2>
  <form (submit)="onSubmit()">
  <app-input label ="name" type = "text" [clear] = "false" [controlador]="NameControl" placeholder=" Maria" ></app-input>
  <app-input label ="Lastname" type = "text" [clear] = "false" [controlador]="lastnameControl" placeholder=" Perez" ></app-input>
  <app-input label ="Email" type = "email" [clear] = "false" [controlador]="emailControl" placeholder="name@gmail.com" ></app-input>
  <app-input label ="Password" type ="password" [controlador] = "password" placeholder=" ***********"  ></app-input>
  <app-select [controlador]="controlador" label="Country" [list]="data"></app-select>
  <app-button esperoTexto =" Create User" shape = "round" type="submit"></app-button>
  <app-button esperoTexto =" Login" shape = "round" type="submit" (click) = "click()"></app-button>
</form>
</ion-content>
